<h3>Basic</h3>

<ToastBasicExample />
<br />
<CodeSnippet For="@nameof(ToastBasicExample)" />
<br/>
<div class="alert alert-warning" role="alert">
    fade and show classes are just to force visibility of the toast. They are not necessary in your code.
</div>
<hr />