@namespace BsBlazor
@inherits BsComponentWithContentBase

<li>
    <a class="dropdown-item @Class" href="@Href" @attributes="AdditionalAttributes" style="@Style">
        @ChildContent
    </a>
</li>

@code 
{
    [Parameter] public string Href { get; set; } = string.Empty;
}