@namespace BsBlazor
@inherits BsParentComponentBase

<li>
    <button class="dropdown-item @Class" @attributes="AdditionalAttributes" style="@Style" @onclick="OnClick">
        @ChildContent
    </button>
</li>

@code 
{
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}