@namespace BsBlazor
@inherits BsComponentBase

<div class="dropdown @Class" @attributes="AdditionalAttributes" style="@Style">
    @ChildContent
</div>

@code
{
    [Parameter]
    [EditorRequired]
    public required RenderFragment ChildContent { get; set; }
}
