@namespace BsBlazor
@inherits BsComponentWithContentBase
<label for="@For" class="@CssClass" style="@Style" @attributes="AdditionalAttributes">
    @ChildContent
</label>
@code {
    private string CssClass => InternalCssBuilder.Default(Bs.Css.FormLabel)
      .AddClass(Class)
      .Build();
    [Parameter]
    public string? For { get; set; }
}
