@namespace BsBlazor
@inherits BsParentComponentBase
<div class="@CssClass" style="@Style" @attributes="AdditionalAttributes">
    @ChildContent
</div>
@code {
    private string CssClass => CssBuilder.Default(Bs.Css.FormText)
      .AddClass(Class)
      .Build();
}