<RequiresInteractivity>
    <h3>Example</h3>
    <ExampleCodeSnippet CodeSnippetName="@nameof(FocusFirstFieldOnInvalidSubmitExample)" ToolsLabel="Blazor">
        <FocusFirstFieldOnInvalidSubmitExample />
    </ExampleCodeSnippet>
</RequiresInteractivity>