<h3>Headings</h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(BadgeHeadingsExample)" ToolsLabel="Blazor">
    <BadgeHeadingsExample/>
</ExampleCodeSnippet>
<h3>Buttons</h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(BadgeButtonsExample)" ToolsLabel="Blazor">
    <BadgeButtonsExample />
</ExampleCodeSnippet>
<h3>Background colors</h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(BadgeBackgroundColorsExample)" ToolsLabel="Blazor">
    <BadgeBackgroundColorsExample />
</ExampleCodeSnippet>
<h3>Pill badges</h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(BadgePillBadgesExample)" ToolsLabel="Blazor">
    <BadgePillBadgesExample />
</ExampleCodeSnippet>