@namespace BsBlazor
@inherits BsComponentBase
<div class="@CssClass" role="status" style="@Style" @attributes="AdditionalAttributes">
    <span class="visually-hidden">@HiddenText</span>
</div>
@code {
    [Parameter]public string HiddenText { get; set; } = "Loading...";
    [Parameter] public BsSpinnerSize Size { get; set; } = BsSpinnerSize.Default;
    private string CssClass => InternalCssBuilder
           .Default("spinner-border")
           .AddClass("spinner-border-sm", Size == BsSpinnerSize.Small)
           .AddClass(Class)
           .Build();
}
