<h2>Border spinner</h2>
<ExampleCodeSnippet CodeSnippetName="@nameof(SpinnerBorderExample)" ToolsLabel="Blazor">
    <SpinnerBorderExample />
</ExampleCodeSnippet>
<h2>Size</h2>
<ExampleCodeSnippet CodeSnippetName="@nameof(SpinnerSizeExample)" ToolsLabel="Blazor">
    <SpinnerSizeExample />
</ExampleCodeSnippet>