@namespace BsBlazor
@inherits BsButtonBase
<a href="@Href" class="@CssBuilder" @attributes="AdditionalAttributes">
    @ChildContent
</a>
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Href { get; set; }
}
