<div class="@Bs.Css.DisplayFlex.FlexColumn.Gap4">
    <strong> Button</strong>

    <div class="@Bs.Css.DisplayFlex.FlexRow.Gap2.FlexWrap.AlignItemsCenter">

        <BsDropdown>
            <BsButton Variant="BsButtonVariant.Primary" Toggle="BsButtonToggle.Dropdown" Size="BsButtonSize.Small">
                Small button
            </BsButton>
            <BsDropdownMenu>
                <BsAnchorDropdownItem Href="#">Here is anchor item</BsAnchorDropdownItem>
                <BsAnchorDropdownItem Href="#">Another anchor item</BsAnchorDropdownItem>
            </BsDropdownMenu>
        </BsDropdown>

        <BsDropdown>
            <BsButton Variant="BsButtonVariant.Primary" Toggle="BsButtonToggle.Dropdown" Size="BsButtonSize.Large">
                Large button
            </BsButton>
            <BsDropdownMenu>
                <BsAnchorDropdownItem Href="#">Here is anchor item</BsAnchorDropdownItem>
                <BsAnchorDropdownItem Href="#">Another anchor item</BsAnchorDropdownItem>
            </BsDropdownMenu>
        </BsDropdown>

    </div>

    <strong> Split Button</strong>

    <div class="@Bs.Css.DisplayFlex.FlexRow.Gap2.FlexWrap.AlignItemsCenter">

            <BsButtonGroup>
                <BsButton Variant="BsButtonVariant.Primary" Size="BsButtonSize.Small">
                    Small split button
                </BsButton>
                <BsDropdownToggleSplitButton Variant="BsButtonVariant.Primary" Size="BsButtonSize.Small"/>
                <BsDropdownMenu>
                    <BsAnchorDropdownItem Href="#">Here is anchor item</BsAnchorDropdownItem>
                    <BsAnchorDropdownItem Href="#">Another anchor item</BsAnchorDropdownItem>
                </BsDropdownMenu>
            </BsButtonGroup>

            <BsButtonGroup>
                <BsButton Variant="BsButtonVariant.Primary" Size="BsButtonSize.Large">
                    Large split button
                </BsButton>
                <BsDropdownToggleSplitButton Variant="BsButtonVariant.Primary" Size="BsButtonSize.Large"/>
                <BsDropdownMenu>
                    <BsAnchorDropdownItem Href="#">Here is anchor item</BsAnchorDropdownItem>
                    <BsAnchorDropdownItem Href="#">Another anchor item</BsAnchorDropdownItem>
                </BsDropdownMenu>
            </BsButtonGroup>

    </div>
</div>