<p>Toggle contextual overlays for displaying lists of links and more with the Bootstrap dropdown plugin.</p>

<h3>Single button</h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(DropdownsSingleButtonExample)" ToolsLabel="Blazor">
    <DropdownsSingleButtonExample />
</ExampleCodeSnippet>

@* <p> *@
@* *@
@*     While <button> is the recommended control for a dropdown toggle, there might be situations where you have to use an <a> element. If you do, we recommend adding a role="button" attribute to appropriately convey control’s purpose to assistive technologies such as screen readers. *@
@*      *@
@* </p> *@

@code 
{
    
}