<RequiresInteractivity>
    <h3>Basic</h3>
    <ExampleCodeSnippet CodeSnippetName="@nameof(FluentValidationExample)" ToolsLabel="Blazor">
        <FluentValidationExample />
    </ExampleCodeSnippet>
</RequiresInteractivity>