<form>
    <BsFormField>
        <BsFormLabel For="exampleInputEmail1">Email address</BsFormLabel>
        <BsFormText>We'll never share your email with anyone else.</BsFormText>
    </BsFormField>
</form>