@namespace BsBlazor
@inherits BsParentComponentBase
<p class="@CssClass" style="@Style" @attributes="AdditionalAttributes">
    @ChildContent
</p>
@code {
    private string CssClass => CssBuilder.Default("card-text")
      .AddClass(Class)
      .Build();
}
