@namespace BsBlazor
@inherits BsComponentWithContentBase
<h5 class="@CssClass" style="@Style" @attributes="AdditionalAttributes">
    @ChildContent
</h5>
@code {
    private string CssClass => InternalCssBuilder.Default(Bs.Css.CardTitle)
      .AddClass(Class)
      .Build();
}
