@namespace BsBlazor
@inherits BsComponentWithContentBase
<p class="@CssClass" style="@Style" @attributes="AdditionalAttributes">
    @ChildContent
</p>
@code {
    private string CssClass => InternalCssBuilder.Default("card-text")
      .AddClass(Class)
      .Build();
}
