@inject ISubjectService Service

<BdkLoader Load="LoadAsync" CanRetry CanRetryTitle="Retry">
    <ul>
        @foreach (var item in context)
        {
            <li>@item.Id - @item.CreatedOn</li>
        }
    </ul>
</BdkLoader>

@code
{
    private async Task<ResponseItem[]> LoadAsync()
    {
        await Service.ProcessAsync(throwErrorAfterProcess: true); // Simulate error
        return await Service.ListAsync();
    }
}