@inject ISubjectService Service

<BdkLoader Load="Service.ListAsync" Message="This is a custom message">
    <ul>
        @foreach (var item in context)
        {
            <li>@item.Id - @item.CreatedOn</li>
        }
    </ul>
</BdkLoader>
