@inject ISubjectService Service

<BdkLoader Load="LoadAsync" CanRetry CanRetryTitle="Retry">
    <ErrorContent Context="errorResult">

        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="mt-3 text-info">
                @errorResult.Exception.Message
            </div>

            @if (errorResult.Loader.CanRetry)
            {
                <div class="mt-3">
                    <button class="btn btn-danger" @onclick="errorResult.Loader.ReloadAsync">@errorResult.Loader.CanRetryTitle</button>
                </div>
            }
        </div>
        
    </ErrorContent>
    <ChildContent>
        Content here
    </ChildContent>
</BdkLoader>

@code
{
    private async Task<ResponseItem[]> LoadAsync()
    {
        await Service.ProcessAsync(throwErrorAfterProcess: true); // Simulate error
        return await Service.ListAsync();
    }
}