@namespace BlazorDevKit
@typeparam T
@if (JsInstanceReference == null)
{
    <div style="display: none" @ref="_elementReference"></div>
}
@if(MaskContext != null)
{
    @MaskContext.Invoke(_context)
}
else{
    @ChildContent
}
