<p class="lead">
    A slideshow component for cycling through elements—images or slides of text—like a carousel.
</p>
<h3>Basic examples</h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(CarouselBaseExample)" ToolsLabel="Blazor">
    <CarouselBaseExample />
</ExampleCodeSnippet>
<p>
    Carousels don’t automatically normalize slide dimensions. As such, you may need to use additional utilities or custom styles to appropriately size content. While carousels support previous/next controls and indicators, they’re not explicitly required. Add and customize as you see fit.
</p>
<p>
    <strong>You must add the Active attribute to one of the slides,</strong> otherwise the carousel will not be visible.
</p>
<h3>Indicators</h3>
<p>
    You can add indicators to the carousel, alongside the previous/next controls. The indicators let users jump directly to a particular slide.
</p>
<ExampleCodeSnippet CodeSnippetName="@nameof(CarouselWithIndicatorsExample)" ToolsLabel="Blazor">
    <CarouselWithIndicatorsExample />
</ExampleCodeSnippet>

<h3>Auto</h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(CarouselAutoExample)" ToolsLabel="Blazor">
    <CarouselAutoExample />
</ExampleCodeSnippet>