<div class="@Bs.Css.DisplayFlex.FlexRow.Gap2.FlexWrap">

    <BsButtonGroup>
        <BsButton Variant="BsButtonVariant.Primary">Dropdown button</BsButton>
        <BsDropdownToggleSplitButton Variant="BsButtonVariant.Primary"/>
        <BsDropdownMenu>
            <BsAnchorDropdownItem Href="#">Here is anchor item</BsAnchorDropdownItem>
            <BsAnchorDropdownItem Href="#">Another anchor item</BsAnchorDropdownItem>
        </BsDropdownMenu>
    </BsButtonGroup>

    <BsButtonGroup>
        <BsButton Variant="BsButtonVariant.Secondary">Dropdown button</BsButton>
        <BsDropdownToggleSplitButton Variant="BsButtonVariant.Secondary"/>
        <BsDropdownMenu>
            <BsAnchorDropdownItem Href="#">Here is anchor item</BsAnchorDropdownItem>
            <BsAnchorDropdownItem Href="#">Another anchor item</BsAnchorDropdownItem>
        </BsDropdownMenu>
    </BsButtonGroup>

    <BsButtonGroup>
        <BsButton Variant="BsButtonVariant.Success">Dropdown button</BsButton>
        <BsDropdownToggleSplitButton Variant="BsButtonVariant.Success"/>
        <BsDropdownMenu>
            <BsAnchorDropdownItem Href="#">Here is anchor item</BsAnchorDropdownItem>
            <BsAnchorDropdownItem Href="#">Another anchor item</BsAnchorDropdownItem>
        </BsDropdownMenu>
    </BsButtonGroup>

    <BsButtonGroup>
        <BsButton Variant="BsButtonVariant.Info">Dropdown button</BsButton>
        <BsDropdownToggleSplitButton Variant="BsButtonVariant.Info"/>
        <BsDropdownMenu>
            <BsAnchorDropdownItem Href="#">Here is anchor item</BsAnchorDropdownItem>
            <BsAnchorDropdownItem Href="#">Another anchor item</BsAnchorDropdownItem>
        </BsDropdownMenu>
    </BsButtonGroup>

    <BsButtonGroup>
        <BsButton Variant="BsButtonVariant.Warning">Dropdown button</BsButton>
        <BsDropdownToggleSplitButton Variant="BsButtonVariant.Warning"/>
        <BsDropdownMenu>
            <BsAnchorDropdownItem Href="#">Here is anchor item</BsAnchorDropdownItem>
            <BsAnchorDropdownItem Href="#">Another anchor item</BsAnchorDropdownItem>
        </BsDropdownMenu>
    </BsButtonGroup>

    <BsButtonGroup>
        <BsButton Variant="BsButtonVariant.Danger">Dropdown button</BsButton>
        <BsDropdownToggleSplitButton Variant="BsButtonVariant.Danger"/>
        <BsDropdownMenu>
            <BsAnchorDropdownItem Href="#">Here is anchor item</BsAnchorDropdownItem>
            <BsAnchorDropdownItem Href="#">Another anchor item</BsAnchorDropdownItem>
        </BsDropdownMenu>
    </BsButtonGroup>
    
</div>