<h3 id="select-field">Manual Options</h3>
<p>TODO: text...</p>

<ExampleCodeSnippet CodeSnippetName="@nameof(SelectFieldExample)" ToolsLabel="Blazor">
    <SelectFieldExample />
</ExampleCodeSnippet>

<h3 id="select-field-from-collection">From a collection of Tuple(T value, string text)</h3>
<p>TODO: text...</p>
<ExampleCodeSnippet CodeSnippetName="@nameof(SelectFromCollectionExample)" ToolsLabel="Blazor">
    <SelectFromCollectionExample />
</ExampleCodeSnippet>

<h3 id="select-field-from-task">Loading options from task</h3>
<p>TODO: text...</p>
<ExampleCodeSnippet CodeSnippetName="@nameof(SelectLoadingOptionsExample)" ToolsLabel="Blazor">
    <SelectLoadingOptionsExample />
</ExampleCodeSnippet>

<h3 id="select-field-config-options">Configuration options</h3>
<p>For the Options and LoadOptions it is possible to define default loading and empty option texts</p>
<pre>
    <code class="language-csharp">
        @ProgramCode
    </code>
</pre>

