<p class="lead">
    Use Bootstrap’s custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.
</p>
<h2>Base button</h2>
<ButtonBaseExample/>
<CodeSnippet For="@nameof(ButtonBaseExample)"/>
<hr />
<h2>Variants</h2>
<ButtonVariantsExample/>
<CodeSnippet For="@nameof(ButtonVariantsExample)"/>
<hr />
<h2>Sizes</h2>
<ButtonSizesExample/>
<CodeSnippet For="@nameof(ButtonSizesExample)"/>
