<div class="card">
    <p class="p-4">
        For this component to function properly, it is necessary to add the <code>before-bootstrap.js</code> script before the Bootstrap script.
    </p>
    <div class="card-body">
        <pre>
        <code class="language-html">
                @_preScript
            </code>
        </pre>
    </div>
</div>
<ExampleCodeSnippet CodeSnippetName="@nameof(SelectMultiSearchFieldExample)" ToolsLabel="Blazor">
    <SelectMultiSearchFieldExample />
</ExampleCodeSnippet>
