@namespace BsBlazor
@inherits BsComponentWithContentBase
<div class="@CssClass" style="@Style" @attributes="AdditionalAttributes" role="alert">
    @ChildContent
</div>
@code {
    private string CssClass => InternalCssBuilder.Default("navbar")
       .AddClass(Class)
       .Build();
}
