@inject ISubjectService Service

<BdkLoader Load="Service.ListAsync" PreserveState >
    <ul>
        @foreach (var result in context)
        {
            <li>Item: @result.Id</li>
        }
    </ul>
</BdkLoader>