@inject ISubjectService Service

<BdkLoader T="object?" Load="LoadAsync" PreserveState>
    <p>
        Content displayed after loading
    </p>
</BdkLoader>

@code
{
    private async Task<object?> LoadAsync()
    {
        await Service.ProcessAsync();
        return null;
    }
}