@page "/static/toast"
@using BsBlazor.Demo.Client.SharedDemo.Toast

<PageTitle>Static - Toast</PageTitle>

<h1>Toasts - Static</h1>

<p class="lead">
    Push notifications to your visitors with a toast, a lightweight and easily customizable alert message.
</p>

<p>Toasts are lightweight notifications designed to mimic the push notifications that have been popularized by mobile and desktop operating systems. They’re built with flexbox, so they’re easy to align and position.</p>

<br/>

<SharedToastDemo/>