@namespace BsBlazor.Plus
@using BsBlazor.Helpers
@inherits BsComponentWithContentBase
<div>

</div>
@code {
    private string CssClass => CssBuilder.Empty()
       .AddClass(Class)
       .Build();
}
