<InputSelect @bind-Value="Mask" class="form-select mb-3">
    <option selected>000-000</option>
    <option>0000-00</option>
    <option>00000-0</option>
</InputSelect>
<BdkIMaskPattern Mask="@Mask" Accepted="values => Value = values.MaskedValue">
    <input class="form-control mb-3" @bind="Value" />
</BdkIMaskPattern>
<div>Value: @Value</div>
@code {
    public string Value { get; set; } = "123-456";
    public string Mask { get; set; } = "000-000";
}
