@using System.ComponentModel.DataAnnotations
<EditForm Model="this">
    <DataAnnotationsValidator/>
    <BdkFocusFirstFieldOnInvalidSubmit/>
    <BspCheckField Label="Option" @bind-Value="Option"/>
    <div>Option: @Option</div>
    <button type="submit">Submit</button>
</EditForm>
@code {
    [AllowedValues(true)]
    public bool Option { get; set; }
}