<p>Conditionally wraps content based on the specified element type.</p>
<p>You can specify the element type to wrap the content in, such as a div, span, section, article, aside, header, footer, main, or nav.</p>
<p>If elememt type is not specified, it defaults to a div.</p>
<h3>Example</h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(BasicWrapperExample)" ToolsLabel="Blazor">
    <BasicWrapperExample />
</ExampleCodeSnippet>