<h1>Example heading <BsBadge Color="BsThemeColor.Secondary">New</BsBadge></h1>
<h2>Example heading <BsBadge Color="BsThemeColor.Secondary">New</BsBadge></h2>
<h3>Example heading <BsBadge Color="BsThemeColor.Secondary">New</BsBadge></h3>
<h4>Example heading <BsBadge Color="BsThemeColor.Secondary">New</BsBadge></h4>
<h5>Example heading <BsBadge Color="BsThemeColor.Secondary">New</BsBadge></h5>
<h6>Example heading <BsBadge Color="BsThemeColor.Secondary">New</BsBadge></h6>