<p>Starting from the parent element, focus on the first matching element for the selector. You can also define a delay.</p>
<h3>Example</h3>
<ExampleCodeSnippet CodeSnippetName="@nameof(FocusOnRenderExample)" ToolsLabel="Blazor">
    <FocusOnRenderExample />
</ExampleCodeSnippet>