@namespace BsBlazor
@inherits BsComponentWithContentBase
<div class="@InternalCssBuilder.Default("modal-footer").AddClass(Class)" style="@Style" @attributes="AdditionalAttributes">
    @ChildContent
</div>
