@namespace BsBlazor
@inherits BsComponentBase

<div class="toast-body" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code 
{
    [Parameter]
    [EditorRequired]
    public required RenderFragment ChildContent { get; set; }
}