@namespace BsBlazor
@inherits BsComponentBase

<div class="toast-header" @attributes="AdditionalAttributes" >
    @ChildContent
</div>

@code 
{
    [Parameter]
    [EditorRequired]
    public required RenderFragment ChildContent { get; set; }
}