@namespace BsBlazor
@inherits BsComponentBase
<button type="button" class="@CssClass" @attributes="AdditionalAttributes" data-bs-dismiss="toast" aria-label="Close"></button>

@code 
{
    private string CssClass => CssBuilder
        .Default("btn-close")
        .AddClass("btn-close-white", White)
        .AddClass(Class)
        .Build();
    
    [Parameter] public bool White { get; set; }
}
