@namespace BsBlazor
@inherits BsComponentBase

<div class="@CssBuilder.Default("toast-body").AddClass(Class)" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code 
{
    [Parameter]
    [EditorRequired]
    public required RenderFragment ChildContent { get; set; }
}