@namespace BsBlazor
@inherits BsComponentBase
<button
    type="button"
    class="@CssBuilder.Default("btn-close").AddClass("btn-close-white", White).AddClass(Class)"
    @attributes="AdditionalAttributes"
    data-bs-dismiss="toast" 
    aria-label="Close">
</button>

@code 
{
    [Parameter] public bool White { get; set; }
}
