<InputSelect @bind-Value="_placement" class="form-select my-3">
    <option value="" selected>Select a position...</option>
    <option value="top-0 start-0">Top left</option>
    <option value="top-0 start-50 translate-middle-x">Top center</option>
    <option value="top-0 end-0">Top right</option>
    <option value="top-50 start-0 translate-middle-y">Middle left</option>
    <option value="top-50 start-50 translate-middle">Middle center</option>
    <option value="top-50 end-0 translate-middle-y">Middle right</option>
    <option value="bottom-0 start-0">Bottom left</option>
    <option value="bottom-0 start-50 translate-middle-x">Bottom center</option>
    <option value="bottom-0 end-0">Bottom right</option>
</InputSelect>

<div aria-live="polite" aria-atomic="true" class="bg-secondary position-relative rounded-3 " style="min-height: 400px;">
    <BsToastContainer Class="@_placement">
        <BsToast Class="fade show" AutoHide="false">
            <BsToastHeader>
                <MyIcon/>
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <BsToastCloseButton/>
            </BsToastHeader>
            <BsToastBody>
                Hello, world! This is a toast message.
            </BsToastBody>
        </BsToast>
    </BsToastContainer>
</div>

@code {
    private string _placement = "top-0 start-0";
}